<form method='POST' action='/'>
	<h1>Puppy Information</h1>
	<label>Puppy's name:</label>
	<input type="text" name="name">
	<label>Puppy's breed:</label>
	<input type="text" name="breed">
	<label>Puppy's age:</label>
	<input type="nunber" name="age">
	<input type="submit" id='submit'>
</form>